* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.deco-none {
  text-decoration: none;
}

h1 {
  color: #000;
}

.container {
  -webkit-animation: transitionIn 750ms;
  animation: transitionIn 750ms;
}

.text-gradient {
  background: linear-gradient(
    to right,
    rgb(16, 133, 153) 0%,
    rgb(8, 132, 66) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3px;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.fixed-footer svg {
  width: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 20rem;
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
}
#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

#about {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  margin: 10px;
  border: 2px solid #79f2ff3e;
  width: 75%;
}

#portfolio {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.about-p {
  font-size: 25px;
  margin-bottom: 5rem;
  width: 45rem;
}

.contact-h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.contact-p {
  font-size: 25px;
  width: 45rem;
}

.name {
  font-size: 50px;
}

.typewriter {
  font-size: 25px;
}

a {
  text-decoration: none;
}

.card {
  width: 35rem;
  height: 15rem;
  border-radius: 10px;
  box-shadow: 4px 4px 6px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.portfolio-card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 6px #000;
  width: 13rem;
  height: 16rem;
  text-align: center;
  justify-content: center;
}

.portfolio-card h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.photo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 4px 4px 6px #000;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.icon svg {
  fill: rgb(0, 0, 0);
}

.social-panel {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191e23;
    color: white;
  }
  h1 {
    color: #fff;
  }
  .text-gradient {
    background: linear-gradient(
      to right,
      rgb(20, 220, 255) 0%,
      rgb(17, 255, 128) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card {
    background-color: #28323b;
  }

  .portfolio-card {
    background-color: #28323b;
  }

  .fixed-footer {
    color: white;
  }
  .icon svg {
    fill: rgb(255, 255, 255);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
