@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #000000;
  --bg-color: #ffffff;
  --link-color: #757575;
  --card-color: #e0e0e0;
  --font-family: "JetBrains Mono";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "JetBrains Mono";
  padding: 0 0.5rem;
  background: var(--bg-color);
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
}

li > a {
  color: var(--link-color) !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

li > a:hover {
  color: var(--main-color) !important;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.card-projects {
  min-height: 20rem;
  background: var(--card-color);
}

.screen {
  height: 100vh;
}
.min-screen {
  min-height: 100vh;
}

.items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2rem;
}

nav,
header {
  -webkit-user-select: none;
  user-select: none;
}

.hero-title {
  font-size: 8rem;
}
.hero-jobdesk {
  font-size: 2rem;
}

.about-title {
  font-size: 4rem;
}
.about-description {
  font-size: 1.7rem;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color);
}

#home {
  align-items: center;
}

.p-screen {
  padding-top: 5rem;
}

.projects-titlex,
.experience-title {
  font-size: 3rem;
}

.card-projects > img {
  width: 100%;
}

.text-project {
  padding: 0.7rem;
}

.custom-web {
  padding-bottom: 0.5rem;
}
.experiences {
  width: 100%;
  background-color: var(--card-color);
  margin-top: 1rem;
  padding: 0.5rem;
}

.justify-center {
  text-align: center;
  justify-content: center;
}

button {
  width: 7rem;
  height: 2rem;
  background-color: var(--card-color);
  font-family: var(--font-family);
  border: none;
}
.social-media {
  margin-top: 0.5rem;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

footer {
  padding: 1rem;
  background-color: var(--card-color);
  text-align: center;
}

.placeholder {
  color: var(--link-color);
  font-size: 2rem;
}

.link {
  color: var(--link-color);
}

.end-text {
  margin-top: 1rem;
  color: var(--link-color);
  font-size: 1.3rem;
  text-align: center;
}
